<hr style='margin: 20px 0'/>
<table style='font-family: Arial, sans-serif; font-size: 10pt; line-height: 14pt; border-collapse: collapse'>
    <tr>
        <td style='padding-right: 15px; vertical-align: top'>
            <img src='https://reformasrap.com/images/Logo.png' alt='Logo Empresa' width='150' height='auto'
                 style='display: block; border: 0'/>
        </td>
        <td style='border-left: 2px solid #006630; padding-left: 15px'>
            <p style='margin: 0'>
                <span style='font-size: 12pt; font-weight: bold; color: #333333'>José Parada</span>
            </p>
            <p style='margin: 8px 0 8px 0'>
                <span style='font-size: 12pt; font-weight: bold; color: black'>REFORMAS RAP</span>
                <br/>
                <span style='color: #0088cc'>Reformas Integrales.</span>
            </p>
            <p style='margin: 0'>
                <span style='color: #0088cc; font-weight: bold'>Móvil:</span>
                <a href='tel:627798621' style='color: #666666; text-decoration: none'>627798621</a>
                <br/>
                <span style='color: #0088cc; font-weight: bold'>Email:</span>
                <a href='mailto:jose@reformasrap.com'
                   style='color: #666666; text-decoration: none'>jose@reformasrap.com</a>
                <br/>
                <span style='color: #0088cc; font-weight: bold'>Web:</span>
                <a href='reformasrap.com' target='_blank'
                   style='color: #666666; text-decoration: none'>reformasrap.com</a>
            </p>
        </td>
    </tr>
</table>