.menu {
	background-color: var(--color-slate-50);
	color: var(--color-slate-600);
	padding: 5px;
	border-radius: 5px;
	border: 0.5px solid var(--color-slate-200);
	list-style: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	min-width: 150px;
	z-index: 99;
	animation:
		fadeIn 0.6s ease-in-out,
		scaleIn 0.3s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes scaleIn {
	from {
		transform-origin: top;
		transform: scaleY(0);
	}
	to {
		transform-origin: top;
		transform: scaleY(1);
	}
}
